@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee&display=swap');

@font-face {
    font-family: "Berlin Sans";
    src: url('fonts/BerlinSans.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    font-family: 'Mukta Mahee', sans-serif;
}




/*******ACCUEIL********/

.accueil {
    height: 100vh;
    background-image: url(img/background/Fichier\ 1.png), url(img/background/Fichier\ 2.png), url(img/background/Fichier\ 3.png), url(img/background/Fichier\ 4.png);
    background-position: bottom -15% left -2%, top -13% left -1%, top 5% right -4%, bottom -15% right -2%;
    background-size: 35%, 35%, 35%, 40%;
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
    flex-direction: row-reverse;
}

.nom {
    z-index: 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20%;
}

.accueil h1 {
    font-size: 3em;
    font-family: "Berlin Sans";
    display: flex;
    flex-direction: column;
    color: #5456c2;
}

h2 {
    margin-bottom: 2%;
    color: #5456c2;
    width: 100%;
    text-align: right;
}

.accueil h1 span {
    text-transform: uppercase;
    font-size: 5rem;
}

.accueil nav {
    z-index: 5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.bouton {
    position: relative;
    text-decoration: none;
    color: #F7B0DE;
    padding: 0.5em 2em;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 14px;
    text-align: center;
}

.bouton::before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-radius:9px; 
    padding:3px; 
    background:linear-gradient(45deg,#F7B0DE,#BFE6FF); 
    mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);;
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out; 
    mask-composite: exclude;
}

.bouton:hover {
    background: linear-gradient(45deg,#F7B0DE,#BFE6FF);
    color: white;
    border: none;
}




/***********MOI + BULLES*************/

.images {
    position: absolute;
    display: flex;
    bottom: 0%;
    left: 5%;
}

.moi {
    z-index: 8;
    width: 20vw;
}

.moi:hover {
    cursor: pointer;
}

.bulle {
    z-index: 16;
    display: none;
    width: 10vw;
}


.hey {
    position: relative;
    left: -100%;
    top: -10%;
}

.look {
    position: relative;
    left: -60%;
    top: -10%;
}

.listen {
    position: relative;
    left: 5%;
    top: 9%;
}

.watch {
    position: relative;
    left: -30%;
    top: -25%;
}

.hello {
    position: relative;
    left: -10%;
    top: -5%;
}


/******CV*********/

.cv {
    background-color: white;
}

.cv h2 {
    color: #5456c2;
}

.cv article {
    display: flex;
    flex-wrap: wrap;
}

.article main {
    width: 50vw;
}

.photo {
    width: 20vw;
    height: 20vw;
    border-radius: 35px;
    overflow: hidden;
    background-color: #5456c2;
}

/********** MEDIA QUERIES ***************/

/*pour les tablettes*/
@media screen and (max-width: 992px){
    .accueil {
        height: 100vh;
        background-position: bottom -7% left -15%, top -11% left -4%, top 7% right -4%, bottom -15% right -19%;
        background-size: 50%, 50%, 42%, 54%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .accueil h1{
        font-size: 3em;
        align-items: baseline;
    }
}

/*pour les mobiles*/
@media screen and (max-width : 600px) {
    .accueil {
        background-image: url(img/background/Fichier\ 2.png), url(img/background/Fichier\ 4.png);
        background-position: top -12% left 180%, bottom -4% right -350%;
        background-size: 110%, 98%;
        background-attachment: fixed;
        height: auto;
    }

    .nom {
        height: 100vh;
        padding: 0%;
        margin-top: 20vh;
        margin-bottom: 30vh;
    }

    h1 {
       font-size: 7em;
       justify-content: center;
       align-items: center;
    }

    .accueil h1 span {
        font-size: 4.5rem;
    }

    h2 {
        text-align: center;
        font-size: 2.5em;
    }

    .accueil nav {
        display: flex;
        flex-wrap: wrap;
        margin-top: 15%;
        width: 90%;
    }

    .bouton {
        width: 100%;
        font-size: 4em;
        padding: 0;
        margin-bottom: 2%;
        /*border: 3px solid #F7B0DE;*/
    }

    .images {
        height: 50vh;
        margin: auto;
        background: none;
        position: initial;
    }

    .images .moi {
        position: absolute;
        width: 50%;
        left: 15%
    }

    .bulle {
        width: 25vw;
        position: relative;
    }

    .hey {
        left: -18%;
        top: -15%;
    }

    .look {
        left: 35%;
        top: -15%;
    }

    .listen{
        left: 63%;
        top: -17%;
    }

    .watch {
        left: 60%;
        top: -18%;
    }

    .hello {
        left: 76%;
        top: -18%
    }
}
